.popup__burger-button {
  margin: 200px 16px 0;
  min-width: 182px;
  max-width: 578px;
  min-height: 57px;
  border-radius: 15px;
  border: none;
  color: #FFF;
  background-color: #954CED;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 700px) {
  .popup__burger-button {
    min-width: 578px;
  }
}

.popup__burger-button:hover {
  cursor: pointer;
  background: #181818;
  border: 2px solid #954CED;
}

.popup__burger-button:focus {
  border: 4px solid#BA8BF3;
}

.popup__burger-button:active {
  background-color: #7B31D4;
}