.popup__cookie-close {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 13px;
  top: 18px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(/static/close-black.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
