.about {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  margin: 0 16px;
  color: #fff;
}

@media screen and (min-width: 1000px) {
  .about {
    margin-left: 60px;
    margin-top: 172px;
  }
}