.card-zone__image-second_third {
  margin-bottom: 16px;
  margin-top: -4px;
}

@media screen and (min-width: 1000px) {
  .card-zone__image-second_third {
    position: absolute;
    right: 0;
    top: -193px;
  }
}