.header__navigation-item {
  min-height: 38px;
  display: flex;
  align-items: center;
}

.header__navigation-item_active {
  background-color: #181818;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: -1px;
  min-height: 40px;
}