.business__social-network-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #954CED;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

@media screen and (min-width: 1000px) {
  .business__social-network-item {
    width: 90px;
    height: 90px;
  }
}