@font-face {
  font-family: "Outfit";
  font-weight: 300;
  src: url(./fonts/Outfit-Light.woff2) format("woff2"),
    url(./fonts/Outfit-Light.woff) format("woff");
}

@font-face {
  font-family: "Outfit";
  font-weight: 400;
  src: url(./fonts/Outfit-Regular.woff2) format("woff2"),
    url(./fonts/Outfit-Regular.woff) format("woff");
}

@font-face {
  font-family: "Outfit";
  font-weight: 500;
  src: url(./fonts/Outfit-Medium.woff2) format("woff2"),
    url(./fonts/Outfit-Medium.woff) format("woff");
}

@font-face {
  font-family: "Outfit";
  font-weight: 600;
  src: url(./fonts/Outfit-SemiBold.woff2) format("woff2"),
    url(./fonts/Outfit-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Outfit";
  font-weight: 700;
  src: url(./fonts/Outfit-Bold.woff2) format("woff2"),
    url(./fonts/Outfit-Bold.woff) format("woff");
}