.business__partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 70px 20px 87px;
  justify-content: space-between;
  row-gap: 26px;

}

@media screen and (min-width: 1280px) {
  .business__partners {
    width: 100%;

    margin-top: 100px;
    margin-bottom: 96px;
  }

  .business__partners .business__partners-item:first-child {
    margin-left: 60px;
  }

  .business__partners .business__partners-item:last-child {
    margin-right: 60px;
  }
}

@media screen and (min-width: 734px) {
  .business__partners {
    column-gap: 40px;
  }
}

