.popup__contacts-phone {
  margin-top: 4px;
  height: 38px;
  border-radius: 15px;
  padding-left: 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  border: 1px solid #f1f1f1;
  background-image: url(/static/usa.svg);
  background-repeat: no-repeat;
  background-position: 15px 12px;
  outline: none;
}

.popup__contacts-phone:focus {
  border: 1px solid #a7a7a7;
}
