.header__menu-toggle {
  width: 40px;
  height: 40px;
  background-color: #181818;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
  background-image: url(/static/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .header__menu-toggle {
    display: none;
  }
}
