.popup {
  background-color: #fff;
  position: fixed;
  border-radius: 16px;
  display: none;
  flex-direction: column;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s linear;
}